@import './variables.sass'
@import './mixins.sass'
@import './components/header'
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')

body 
    background: $light
    font-family: 'Roboto', sans-serif


.blue-block
    background-color: $blue-dark
    height: 176px 